/* variables declaration */
:root {
  --blue-color: #011d51;
  --secondary-blue-color: #032763;
  --light-blue-color: #70a7e6;
  --extra-light-blue-color: #d0e3fb;
  --white-color: #ffffff;
  --secondary-white-color: #F6F8FF;
  --golden-color: #bf9745;

  --primary-font: 'Sulphur Point', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;

}

/* keyframes */

/* générale */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: var(--extra-light-blue-color);
  color: var(--blue-color);
}

main {
  width: 100%;
}

p {
  margin: 0;
  font-family: var(--secondary-font);
  font-size: 1rem;
  line-height: 1;
  font-weight: 300;
}

li {
  margin: 0;
  font-family: var(--secondary-font);
  font-size: 1rem;
  line-height: 1;
  font-weight: 300;
}

h1 {
  margin: 0;
  font-family: var(--primary-font);
  line-height: 1;
}

h2 {
  margin: 0;
  font-family: var(--primary-font);
  line-height: 1;
}

a {
  text-decoration: none;
  color: var(--blue-color);
}

figure {
  padding: 0;
  margin: 0;
}

figcaption {
  margin: 0;
  font-family: var(--primary-font);
  line-height: 1;

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;

}

div {
  padding: 0;
  margin: 0;
}

i {
  padding: 0;
  margin: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  /* Hérite de la police de l'élément parent */
  color: inherit;
  /* Hérite de la couleur de l'élément parent */
  cursor: pointer;
  outline: none;
  /* Retire le contour sur certains navigateurs */
  font-family: var(--secondary-font);
}

.a-txt {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

/*style*/
/*loader*/
.loader {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120vh;
  gap: 40px;
  background-color: var(--blue-color);
  color: var(--white-color);
  position: relative;
  background-image: url('./backgrounds/5.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;



  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 100px;
      height: 100px;
      display: none;
    }

    figcaption {
      font-size: 3.75rem;
      font-weight: lighter;
      text-align: center;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: calc(100% - 40px);
    height: fit-content;
    gap: 60px;
    color: var(--white-color);
    border-radius: 12px;

    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 350px;
      border-radius: 16px;
      box-shadow: 0px 10px 15px -7px #70a7e6;
      border: 1px solid var(--white-color);
      background-color: rgba(255, 255, 255, 0.2);
      text-align: center;
      font-size: 1rem;

      figure {
        background-color: var(--secondary-white-color);
        display: flex;
        flex-direction: row;
        border-radius: 24px;
        position: relative;
        bottom: 60px;
        height: 18px;

        figcaption {
          h2 {
            text-transform: uppercase;
            padding: 8px;
            border-radius: 16px;
            background-color: var(--secondary-white-color);
            color: var(--blue-color);
          }
        }
      }

      .card-list {
        gap: 16px;
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: initial;
        height: 180px;

        li {
          display: flex;
          flex-direction: row;
          gap: 2px;

          i {
            background-color: transparent;
            padding: 0;
            color: var(--extra-light-blue-color);
          }
        }
      }

      i {
        border-radius: 100%;
        width: 16px;
        height: 16px;
        padding: 16px;
        font-size: 1rem;
        background-color: var(--secondary-white-color);
        color: var(--blue-color);
      }

      .fa-chevron-right {
        position: relative;
        top: 30px;
      }
    }
  }
}

/*header*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: var(--blue-color);
  position: fixed;
  top: 0;
  z-index: 1000;
  border-bottom: var(--blue-color) 1px solid;
  border-radius: 0 0 30px 0;

  img {
    width: 60px;
    height: auto;
    margin-left: 20px;
  }

  i{
    color: var(--white-color);
    font-size: 1.5rem;
    margin-right: 20px;
  }
}